<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="CoreConfiguration" type="Lattyf.BackIt.Core.Configuration.CoreConfiguration, Lattyf.BackIt.Core" />
  </configSections>

  <CoreConfiguration>
    <Directories>
      <clear />
      <add Directory="D:\Projects" />
    </Directories>
  </CoreConfiguration>
</configuration>